<div class="btn-group mb-2" role="group" aria-label="Basic example">
    <button onclick="pasteText('<h1>', '</h1>')" type="button" class="btn btn-primary">H1</button>
    <button onclick="pasteText('<h2>', '</h2>')" type="button" class="btn btn-primary">H2</button>
    <button onclick="pasteText('<h3>', '</h3>')" type="button" class="btn btn-primary">H3</button>
    <button onclick="pasteText('<h4>', '</h4>')" type="button" class="btn btn-primary">H4</button>
    <button onclick="pasteText('<h5>', '</h5>')" type="button" class="btn btn-primary">H5</button>
    <button onclick="pasteText('<h6>', '</h6>')" type="button" class="btn btn-primary">H6</button>
    <button onclick='pasteText("<img src=\"", "\">")' type="button" class="btn btn-primary">IMG</button>
    <button onclick='pasteText("<a href=\"\">", "</a>")' type="button" class="btn btn-primary">A</button>
</div>