{% extends 'layout.html' %}

{% block content %}
	<div class="container">
		<form method="post" action="/login">
			<label class="form-label" for="username">Логин:</label>
			<input class="form-control" type="text" name="username"><br>

			<label class="form-label" for="password">Пароль:</label>
			<input class="form-control" type="password" name="password"><br>

			{% if errorText|length > 0 %}
			<span>{{ errorText }}</span><br><br>
			{% endif %}

			<input class="btn btn-primary" type="submit" name="login" value="Войти">
		</form><br>

		<a class="btn btn-primary" href="{{ url_for('createAccount') }}">Нет аккаунта?</a>
	</div>
{% endblock %}