{% extends 'layout.html' %}

{% block content %}
	<div class="container">
		<form method="post" action="/signup">
			<label class="form-label" for="username">Логин:</label>
			<input class="form-control" type="text" name="username"><br>

			<label class="form-label" for="password">Пароль:</label>
			<input class="form-control" type="password" name="password"><br>

			<label class="form-label" for="repeatpassword">Повторите пароль:</label>
			<input class="form-control" type="password" name="repeatpassword"><br>

			<input class="btn btn-primary" type="submit" name="login" value="Зарегистрироваться">
		</form><br>
	</div>
{% endblock %}