{% extends 'layout.html' %}

{% block content %}
	<div class="container m-auto w-100" style="max-width: 400px;">
		<center><h1>Регистрация</h1></center>
		<form method="post" action="/signup">
			<input class="form-control" type="text" name="username" placeholder="Логин"><br>
			<input class="form-control" type="password" name="password" placeholder="Пароль"><br>
			<input class="form-control" type="password" name="repeatpassword" placeholder="Придумайте пароль"><br>

			{% if errorText|length > 0 %}
			<div class="alert alert-danger" role="alert">
				{{ errorText }}
			</div>
			{% endif %}

			<input class="btn btn-primary w-100" type="submit" name="login" value="Зарегистрироваться">
		</form><br>
	</div>
{% endblock %}