{% extends 'layout.html' %}

{% block content %}
<div class="container">
	<h4>Редактирование поста</h4>
	<form method="post" action="/sendEditPost/{{ post.id }}">
		<input class="form-control mb-3" type="text" name="title" value="{{ post.title }}" placeholder="Заголовок">
		{% include 'snippets/tagPanel.html' %}
		<textarea id="contentTextArea" class="form-control mb-3" type="text" name="content" style="min-height: 200px;" placeholder="Текст">{{ post.content }}</textarea>
		<input class="btn btn-primary" type="submit" name="send" value="Обновить пост">
	</form>
</div>
{% include 'snippets/tagScript.html' %}
{% endblock %}