{% extends 'layout.html' %}

{% block content %}
	<div class="post-container">
		{% for post in posts %}
			<div class="pb-2">
				<div class="card" style="width: 100%;">
					<div class="card-body">
						<h5 class="card-title">{{ post[1] }}</h5>
						<!-- <h6 class="card-subtitle mb-2 text-body-secondary">05.03.2024 (Тест)</h6> -->
						<p class="card-text">{{ post[2] }}</p>
						<a href="./post/{{ post[0] }}" class="card-link">Читать дальше</a>
						{% if session["username"]: %}
							<a href="./editPost/{{ post[0] }}" class="card-link">Редактировать</a>
							<a href="./deletePost/{{ post[0] }}" class="card-link">Удалить</a>
						{% endif %}
					</div>
				</div>
			</div>
		{% endfor %}
        {% if pageId - 1 > 0 %}
		<a href="{{ url_for('explore', pageId = pageId - 1)}}" class="btn btn-primary">Назад</a>
        {% endif %}
        <a class="btn btn-secondary">{{ pageId }}</a>
        {% if numberOfpages > pageId %}
		<a href="{{ url_for('explore', pageId = pageId + 1)}}" class="btn btn-primary">Вперед</a>
        {% endif %}
    </div>
{% endblock %}