{% extends 'layout.html' %}

{% block content %}
{% if posts|length > 0 %}
<div class="post-container pb-2">
	<div class="row">
	{% for post in posts %}
	<div class="col-sm-12 pb-2">
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">{{ post.title }}</h5>
				{% if post.content|length > 100 %}
				<p class="card-text">{{ post.content }}...</p>
				{% else %}
				<p class="card-text">{{ post.content }}</p>
				{% endif %}
				<a href="/post/{{ post.id }}" class="btn btn-primary">Читать</a>
				{% if session["role"] == "admin" %}
					<a href="./editPost/{{ post.id }}" class="btn btn-outline-primary">Редактировать</a>
					<button type="button" onclick="setPostInformation('{{ post.title }}', '{{ post.id }}')" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal">
						Удалить
					</button>
				{% endif %}
			</div>
		</div>
	</div>
	{% endfor %}
	</div>
	{% if page_id - 1 > 0 %}
	<a href="{{ url_for('explore', page_id = page_id - 1)}}" class="btn btn-primary">Назад</a>
	{% else %}
	<a class="btn btn-secondary">Назад</a>
	{% endif %}
	<a class="btn btn-secondary">{{ page_id }}</a>
	{% if number_of_pages > page_id %}
	<a href="{{ url_for('explore', page_id = page_id + 1)}}" class="btn btn-primary">Вперед</a>
	{% else %}
	<a class="btn btn-secondary">Вперед</a>
	{% endif %}
</div>
{% else %}
<div class="alert alert-info" role="alert">
Здесь пока ничего нет
</div>
{% endif %}

<div class="modal fade" id="deletePostModal" tabindex="-1" aria-labelledby="titleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		<div class="modal-header">
			<h1 class="modal-title fs-5" id="titleModalLabel">Удалить пост?</h1>
			<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
		</div>
		<div id="deletePostModalContent" class="modal-body">Вы уверены?</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Отмена</button>
				<a class="btn btn-danger" id="deletePostModalButton">Удалить пост</a>
			</div>
		</div>
	</div>
</div>

<script>
	function setPostInformation(postName, postId){
		const deletePostModalButton = document.getElementById("deletePostModalButton");
		deletePostModalButton.setAttribute("href", `./deletePost/${postId}`);
		const deletePostModalContent = document.getElementById("deletePostModalContent");
		deletePostModalContent.innerHTML = postName;
	}
</script>
{% endblock %}