<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
	<title>Блог-платформа</title>
</head>
<body>
	<div class="header">
		<span>Блог платформа</span>

		{% if session["username"]: %}
			<a class="header-button" href="./profile">Профиль</a>
		{% else %}
			<a class="header-button" href="./auth">Войти в аккаунт</a>
		{% endif %}

		<a class="header-button" href="./newPost">new post</a>
	</div>

	{% block content %}
	{% endblock %}
</body>
</html>