<!DOCTYPE html>
<html data-bs-theme="light">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Блог-платформа</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='bootstrap/bootstrap.min.css') }}">
	<script src="{{ url_for('static', filename='bootstrap/bootstrap.bundle.min.js') }}"></script>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
</head>
<body class="bg-body-tertiary">
	<div class="container">
		<header class="header py-3">
			<div class="row flex-wrap justify-content-between align-items-center">
				<div class="col-auto">
					<a href="{{ url_for('index') }}" class="blog-header-logo text-body-emphasis text-decoration-none">Блог</a>
				</div>

				<div class="col-auto d-flex justify-content-end align-items-center">
					{% if session["username"]: %}
					<div class="flex-shrink-0 dropdown">
						<a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img class="rounded-circle" src="{{ url_for('static', filename='image/profile.png') }}" width="32" height="32">
						</a>
						<ul class="dropdown-menu text-small shadow">
							{% if session["role"] == "admin" %}
							<li><a class="dropdown-item" href="{{ url_for('newPost') }}">Новый пост</a></li>
							{% endif %}
							<li><a class="dropdown-item" href="{{ url_for('profile') }}">Профиль</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="{{ url_for('logout') }}">Выйти</a></li>
						</ul>
					</div>
					{% else %}
					<a class="btn btn-primary" href="{{ url_for('auth') }}">Войти</a>
					{% endif %}
				</div>
			</div>
		</header>
		
		{% block content %}
		{% endblock %}
	</div>
</body>
</html>