{% extends 'layout.html' %}

{% block content %}
<div class="container">
	<h4>Создание поста</h4>
	<form method="post" action="/sendNewPost">
		<input class="form-control mb-3" type="text" name="title" placeholder="Заголовок">
		{% include 'snippets/tagPanel.html' %}
		<textarea id="contentTextArea" class="form-control mb-3" type="text" name="content" style="min-height: 200px;" placeholder="Текст"></textarea>
		<input class="btn btn-primary" type="submit" name="send" value="Создать пост">
	</form>
</div>
{% include 'snippets/tagScript.html' %}
{% endblock %}