{% extends 'layout.html' %}

{% block content %}
<div class="pb-5">
	<h1>{{ post[1] }}</h1>
	<span id="content">{{ post[2]|safe }}</span>
</div>

<h1>Комментарии ({{ comments|length }})</h1>
<form method="post" action="/sendNewComment/{{ post[0] }}">
	<textarea class="form-control mb-2" type="text" name="content" style="min-height: 50px;"></textarea>
	<input class="btn btn-primary mb-3" type="submit" name="send" value="Оставить комментарий">
</form>

{% for comment in comments %}
<div class="card text-bg-light mb-3 mt-3">
	<div class="card-header text-dark">Пользователь: {{ comment[3] }}</div>
	<div class="card-body">
		<p class="card-text text-dark">{{ comment[2] }}</p>
	</div>
</div>
{% endfor %}

<script>
	const contentElement = document.getElementById("content");
	contentElement.innerHTML = contentElement.innerHTML.replaceAll('\n', '<br>');
</script>
{% endblock %}