body {
	background: #f4f4f4;
	font-family: sans-serif;
	margin: 0;
}

.header{
	background: rgb(200, 200, 200);
	padding: 10px;
}

.post-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	gap: 20px;
	padding: 20px;
}

.post {
	background-color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
}

/*@media (max-width: 600px) {
	.post-container {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}*/