body {
	background: rgb(200, 200, 220);
	font-family: sans-serif;
	margin: 0;
	user-select: none;
}

.header{
	background: rgb(150, 150	, 230);
	padding: 10px;
}

.header-button{
	background: rgb(200, 255, 200);
	padding: 5px;
	border-radius: 5px;
	cursor: pointer;
}

.header-button:active{
	background: rgb(150, 230, 150);
}

.post-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	gap: 20px;
	padding: 20px;
}

.container {
	padding: 20px;
}

.post {
	background-color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	padding: 20px;
}

.post-header {
	font-size: 1.5em;
}

/*@media (max-width: 600px) {
	.post-container {
		grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
	}
}*/